<h1>Login page</h1>

<form action='/users/login' method='POST'>
    <label for='email'>Email: </label>
    <input type='text' name='email'>
    <label for='password'>Password: </label>
    <input type='text' name='password'>
    <input type='submit' value='Login'>
</form>