<h1>Signup page</h1>

<form action='/users' method='POST'>
    <label for='email'>Email: </label>
    <input type='text' name='email'>
    <label for='password'>Password: </label>
    <input type='password' name='password'>
    <input type='submit' value='Signup'>
</form>
