<h1>Edit a game in your collection</h1>

<form action="/games/<%= @game.id %>" method 'POST'>
    <label for=game_name>Game Name:</label>
    <input type='hidden' name='_method' value='patch'>
    <input type='text' name='game_name' value="<%= @game.game_name %>">
    <input type='submit' value='Submit'>
</form>