<h2>Games Recommended by this Community</h2>
<ul>
    <% @board_games.each do |board_game| %>
        <h3><%= board_game.game_name %></h3>
        <p>Recommended by: <%= board_game.user.email %></p>
    <% end %>
</ul>
