<h2>Games Recommended by this Community</h2>
<h3><ul>
    <% @board_games.each do |board_game| %>
        <%= board_game.game_name %>
        <p>Recommended by: <%= board_game.user.email %></p>
    <% end %>
</ul></h3>
