<h1>Add a game to your collection</h1>

<form action='/games' method 'POST'>
    <label for=game_name>Board Game Name:</label>
    <input type='text' name='game_name'>
    <input type='submit' value='Submit'>
</form>