<h1><%= @board_game.game_name %></h1>
<br>
<% if current_user == @board_game.user %>
    <a href="/games/<%= @board_game.id %>/edit">Edit game</a>
    <br><br>
    <a href="/games/new">Add Another Game</a>
    <br><br><br><br>
    <form action="/games/<%= @board_game.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete Game">
    </form>
<% end %>
<br><br>
<p><i>(Show page for game entry)</i></p>
