Show page for game entry
<br>
<p><%= @board_game.game_name %></p>
<br>
<% if current_user == @board_game.user %>
Edit Link
    <a href="/games/<%= @board_game.id %>/edit">Edit game</a>
<br>
Delete Link
    <form action="/games/<%= @board_game.id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE"
        <input type="submit" value="Delete">
    </form>
<% end %>
